# Week 09: Exercise 1

## Database

- JHU data on covid cases/death in US Counties
- Daily update in September 2020
- Database is normalized
  - tables for county and state
- Other tables exist
  - `demography` 
  - `election_2016`

In [1]:
!wget https://www.dropbox.com/s/wkhjoah228gmhtl/covid.sqlite?dl=1 -O covid.sqlite

--2020-12-01 14:26:14--  https://www.dropbox.com/s/wkhjoah228gmhtl/covid.sqlite?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/dl/wkhjoah228gmhtl/covid.sqlite [following]
--2020-12-01 14:26:15--  https://www.dropbox.com/s/dl/wkhjoah228gmhtl/covid.sqlite
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com/cd/0/get/BEMYeCvx9ULFk1N4n-dWrwC5NOrgcbZJ3RnsrwJUnSih8zQDZR2N1074IG03nve0iHKCVb1Hgm5tuEPmBeXKxU9f_30oQphigNSxv1fIVcPELsb5-fstUft5ILbKlLSNjPY/file?dl=1# [following]
--2020-12-01 14:26:15--  https://ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com/cd/0/get/BEMYeCvx9ULFk1N4n-dWrwC5NOrgcbZJ3RnsrwJUnSih8zQDZR2N1074IG03nve0iHKCVb1Hgm5tuEPmBeXKxU9f_30oQphigNSxv1fIVcPELsb5-fstUft5ILbKlLSNjPY/file?dl=1
Resolving ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com (ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6021:15::a27d:410f
Connecting to ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com (ucc3010c16d1e54d42e0081d3a0d.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4931584 (4.7M) [application/binary]
Saving to: ‘covid.sqlite’

covid.sqlite        100%[===================>]   4.70M  9.57MB/s    in 0.5s

2020-12-01 14:26:16 (9.57 MB/s) - ‘covid.sqlite’ saved [4931584/4931584]

## Import packages

In [2]:
import pandas as pd
import sqlite3

## Create a connection object

In [3]:
con_cov = sqlite3.connect('covid.sqlite')

## Check tables

In [33]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", con_cov)

    type  ...                                                sql
0  table  ...  CREATE TABLE "covid" (\n"fips" INTEGER,\n  "da...
1  table  ...  CREATE TABLE "county" (\n"fips" INTEGER,\n  "c...
2  table  ...  CREATE TABLE "state" (\n"state_code" TEXT,\n  ...
3  table  ...  CREATE TABLE "demography" (\n"fips" INTEGER,\n...
4  table  ...  CREATE TABLE "election_2016" (\n"fips" INTEGER...
5  table  ...  CREATE TABLE "sep30_table" (\n"index" INTEGER,...

[6 rows x 5 columns]

In [5]:
pd.read_sql_query("SELECT * FROM covid LIMIT 5", con_cov)

   fips        date  cases  deaths
0  1001  2020-09-01   1354      23
1  1001  2020-09-02   1345      23
2  1001  2020-09-03   1349      23
3  1001  2020-09-04   1355      23
4  1001  2020-09-05   1371      23

In [6]:
pd.read_sql_query("SELECT * FROM county LIMIT 5", con_cov)

   fips   county state_code
0  1001  Autauga         AL
1  1003  Baldwin         AL
2  1005  Barbour         AL
3  1007     Bibb         AL
4  1009   Blount         AL

In [7]:
pd.read_sql_query("SELECT * FROM state LIMIT 5", con_cov)

  state_code       state
0         AL     Alabama
1         AK      Alaska
2         AZ     Arizona
3         AR    Arkansas
4         CA  California

In [10]:
pd.read_sql_query("SELECT * FROM demography LIMIT 5", con_cov)

   fips  TotalPop    Men  ...  SelfEmployed  FamilyWork  Unemployment
0  1001     55036  26899  ...           5.6         0.1           5.2
1  1003    203360  99527  ...           6.3         0.1           5.5
2  1005     26201  13976  ...           6.5         0.3          12.4
3  1007     22580  12251  ...           6.3         0.3           8.2
4  1009     57667  28490  ...           4.0         0.1           4.9

[5 rows x 35 columns]

### Combine covid and county

In [17]:
pd.read_sql_query('''
SELECT a.*, b.county, b.state_code 
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
''', con_cov)

        fips        date  cases  deaths   county state_code
0       1001  2020-09-01   1354      23  Autauga         AL
1       1001  2020-09-02   1345      23  Autauga         AL
2       1001  2020-09-03   1349      23  Autauga         AL
3       1001  2020-09-04   1355      23  Autauga         AL
4       1001  2020-09-05   1371      23  Autauga         AL
...      ...         ...    ...     ...      ...        ...
97225  56045  2020-09-26     36       0   Weston         WY
97226  56045  2020-09-27     36       0   Weston         WY
97227  56045  2020-09-28     36       0   Weston         WY
97228  56045  2020-09-29     37       0   Weston         WY
97229  56045  2020-09-30     39       0   Weston         WY

[97230 rows x 6 columns]

### Combine covid, county, and state

In [9]:
pd.read_sql_query('''
SELECT a.*, b.county, b.state_code 
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
  INNER JOIN state as c 
  ON b.state_code = c.state_code''', con_cov)

        fips        date  cases  deaths   county state_code
0       1001  2020-09-01   1354      23  Autauga         AL
1       1001  2020-09-02   1345      23  Autauga         AL
2       1001  2020-09-03   1349      23  Autauga         AL
3       1001  2020-09-04   1355      23  Autauga         AL
4       1001  2020-09-05   1371      23  Autauga         AL
...      ...         ...    ...     ...      ...        ...
97225  56045  2020-09-26     36       0   Weston         WY
97226  56045  2020-09-27     36       0   Weston         WY
97227  56045  2020-09-28     36       0   Weston         WY
97228  56045  2020-09-29     37       0   Weston         WY
97229  56045  2020-09-30     39       0   Weston         WY

[97230 rows x 6 columns]

# Replicate the work in Assignment 1 using SQL queries

In this exercise, you will do the same work you have done with SQL queries

## Mergeing with the demography data

### Check the contents of demography table


- Merge covid, county, state, and demography tables
  - select the data on 30 September
- Calculate the deaths/cases per 1000 population in the merged table
- Create a new pandas DataFrame from query
- Dump the content of DataFrame as a table (named `sep30_table` in this database) using `.to_sql`

In [43]:
df_sep30 = pd.read_sql_query('''
SELECT a.*, b.county, b.state_code , c.state, d.*, 
  (deaths + 0.0) / TotalPop * 1000 AS death_per_1000,
  (cases + 0.0) / TotalPop * 1000 AS cases_per_1000
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
  INNER JOIN state AS c 
  ON b.state_code = c.state_code
  INNER JOIN demography AS d
  ON a.fips = d.fips
  WHERE date = "2020-09-30"''', con_cov)
df_sep30 = df_sep30.loc[:, ~df_sep30.columns.duplicated()]
df_sep30

       fips        date  cases  ...  Unemployment death_per_1000 cases_per_1000
0      1001  2020-09-30   1791  ...           5.2       0.490588      32.542336
1      1003  2020-09-30   5640  ...           5.5       0.255704      27.734068
2      1005  2020-09-30    896  ...          12.4       0.267165      34.197168
3      1007  2020-09-30    664  ...           8.2       0.487157      29.406554
4      1009  2020-09-30   1629  ...           4.9       0.260114      28.248392
...     ...         ...    ...  ...           ...            ...            ...
3136  56037  2020-09-30    339  ...           5.2       0.044917       7.613358
3137  56039  2020-09-30    577  ...           1.3       0.043624      25.171225
3138  56041  2020-09-30    357  ...           6.4       0.096348      17.198189
3139  56043  2020-09-30    116  ...           6.1       0.727008      14.055495
3140  56045  2020-09-30     39  ...           2.2       0.000000       5.479837

[3141 rows x 43 columns]

In [44]:
df_sep30.to_sql('sep30_table', con_cov, if_exists='replace')


- Find the maximum of highest deaths/cases per 1000 population and their county names

In [39]:
pd.read_sql_query("SELECT * FROM sep30_table ORDER BY death_per_1000 DESC LIMIT 1", con_cov)

   index   fips        date  ...  Unemployment  death_per_1000 cases_per_1000
0    455  13141  2020-09-30  ...           4.0        4.845967       45.45979

[1 rows x 43 columns]

In [40]:
pd.read_sql_query("SELECT * FROM sep30_table ORDER BY cases_per_1000 DESC LIMIT 1", con_cov)

   index   fips        date  ...  Unemployment  death_per_1000 cases_per_1000
0   2511  47169  2020-09-30  ...           8.2        0.797903     190.926707

[1 rows x 43 columns]

- Aggregate the data in `sep30_table` at the state level and find the following
  - Calculate the number of total cases/deaths per 1000 population
  - Which state had the highest cases/deaths, how many cases/deaths?

In [48]:
pd.read_sql_query("SELECT state, state_code, SUM(deaths), SUM(cases) FROM sep30_table GROUP BY state", con_cov)

             state state_code  SUM(deaths)  SUM(cases)
0          Alabama         AL         2540      154701
1           Alaska         AK           56        7805
2          Arizona         AZ         5649      218507
3         Arkansas         AR         1369       81786
4       California         CA        15885      819115
5         Colorado         CO         2051       70515
6      Connecticut         CT         4508       57399
7         Delaware         DE          636       20122
8          Florida         FL        14317      704786
9          Georgia         GA         6854      299279
10          Hawaii         HI          135       12377
11           Idaho         ID          469       42047
12        Illinois         IL         8672      293155
13         Indiana         IN         3405      120019
14            Iowa         IA         1358       89243
15          Kansas         KS          669       59040
16        Kentucky         KY         1174       68840
17       Louisiana         LA         5321      165839
18           Maine         ME          141        5389
19        Maryland         MD         3939      124725
20   Massachusetts         MA         9450      129282
21        Michigan         MI         7003      132010
22       Minnesota         MN         2036       98980
23     Mississippi         MS         2969       98190
24        Missouri         MO         1944      115439
25         Montana         MT          180       13071
26        Nebraska         NE          478       45274
27          Nevada         NV         1600       79980
28   New Hampshire         NH          439        8263
29      New Jersey         NJ        16122      204946
30      New Mexico         NM          877       28056
31        New York         NY        33129      458649
32  North Carolina         NC         3532      210632
33    North Dakota         ND          246       21846
34            Ohio         OH         4804      153987
35        Oklahoma         OK         1031       87170
36          Oregon         OR          559       33509
37    Pennsylvania         PA         8130      164099
38    Rhode Island         RI         1102       22693
39  South Carolina         SC         3378      147942
40    South Dakota         SD          223       22389
41       Tennessee         TN         2423      190117
42           Texas         TX        16016      773019
43            Utah         UT          377       59778
44         Vermont         VT           58        1744
45        Virginia         VA         3205      148092
46      Washington         WA         2122       87220
47   West Virginia         WV          355       15850
48       Wisconsin         WI         1327      122274
49         Wyoming         WY           50        5948

## Merge the presidential election data and explore the relations

### Check the contents of election_2016 table

In this table, pct is the Trump vote percentage

- Check the table content


- Merge the presidential election results with `sep30_table`
- Explore the relations between Trump vote percentage and Covid-19 variables.